.group {
    width: 100%;
    display: flex;
    align-items: left;
    flex-flow: column;
    justify-content: left;
    gap: 0.2rem;

    p {
        text-align: left;
        margin: 0px;
    }
}

.error {
    margin: 0;
    font-size: small;
    color: red;
}
