.group {
    width: 100%;
    display: flex;
    align-items: left;
    flex-flow: column;
    justify-content: left;
    gap: 0.2rem;

    p {
        text-align: left;
        margin: 0px;
    }
}

.error {
    margin: 0;
    font-size: small;
    color: red;
}

.forgotPasswordButton {
    background: none;
    border: none;
    color: #2563eb;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0;
    width: fit-content;
    align-self: flex-end;
}

.forgotPasswordButton:hover {
    text-decoration: underline;
}